#scxmlContent {
    width : 100%;
    height : 85%;
}

div.CodeMirror {
    width : 100%;
    height : 85%;
}

.CodeMirror-scrollbar,.CodeMirror-scroll {
    height : 100%;
}


#scxmlTrace {
    border : black solid 1px;
    width : 100%;
    height : 85%;
    overflow-y : auto;
}


div#left {
    float:left;
    height:100%;
    width:50%;
}

div#right {
    float:right;
    height:100%;
    width:50%;
}
